@import "../common/constants/contentProps.css";

html, body {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

main {
    position: relative;
    padding: var(--navigation-height) 20px var(--navigation-height);
    min-height: 100vh;
    box-sizing: border-box;
    background: #e4e4e4 url("../assets/images/bg.png") no-repeat center;
    background-size: cover;
}