form {
  min-width: 200px;
  font-size: 1em;

  & .form-group {
    padding: 8px 12px;

    & label {
      display: block;
      font-size: 0.8em;
      opacity: 0.6;
    }

    & select,
    & input,
    & textarea {
      min-width: 100%;
    }
  }
}