@import "../../constants/contentProps.css";

.navigation {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: var(--navigation-height);



  &.position-top {
    top: 0;
  }
  &.position-bottom {
    bottom: 0;
  }
}